<%- include('header'); -%>

  <h1 style="font-size:50px">Keep Track of your Diet!</h1>
  <h3>A balanced diet supplies the nutrients your body needs to work effectively. </h3>

  <button type="button" name="button" class="btn btn-light btn-md addUser" onclick="window.location.href='/register'">Register</button>
  <button type="button" name="button" class="btn btn-light btn-md addUser" onclick="window.location.href='/login'">Login</button>
</div>

<%- include('footer'); -%>
